html, body {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

canvas {
  display: block;
}

@font-face {
    font-family: 'Pally';
    src:
        url('assets/fonts/pally.woff2') format('woff2'),
        url('assets/fonts/pally.woff') format('woff');
    font-weight: 400 700;
    font-display: swap;
    font-style: normal;
}

#info {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  color: white;
  text-align: center;
  z-index: 10;
  font-size: clamp(30px, 8vw, 55px);
  font-family: pally, sans-serif;
  font-weight: 600;
  line-height: 100%;
}

#textBubble {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #000;
  text-align: center;
  z-index: 10;
  font-size: clamp(20px, 5vw, 25px);
  font-family: pally, sans-serif;
  font-weight: 400;
  line-height: 120%;
  /* linear white gradient behind white to 0*/
  /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); */
  background: #fff;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  padding: 25px;
  box-sizing: border-box;
}
