html, body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  overflow: hidden;
}

canvas {
  display: block;
}

@font-face {
    font-family: 'Pally';
    src:
        url('assets/fonts/pally.woff2') format('woff2'),
        url('assets/fonts/pally.woff') format('woff');
    font-weight: 400 700;
    font-display: swap;
    font-style: normal;
}

#info {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  color: white;
  text-align: center;
  z-index: 10;
  font-size: clamp(30px, 8vw, 70px);
  font-family: pally, sans-serif;
  font-weight: 600;
  line-height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  padding: 0 15%;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

#textBubble {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  color: #000;
  text-align: center;
  z-index: 10;
  font-size: clamp(20px, 5vw, 50px);
  font-family: pally, sans-serif;
  font-weight: 400;
  line-height: 120%;
  /* linear white gradient behind white to 0*/
  /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)); */
  background: #fff;
  width: 90%;
  margin: auto;
  padding: 25px 30px;
  box-sizing: border-box;
}

#textBubble::before {
  content: '';
  position: absolute;
  bottom: -2.5vw;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-top: 3vw solid #fff;
}

#textBubble:empty {
  display: none;
}

#info:empty {
  display: none;
}

.hill {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 150%;
  height: auto;
  z-index: 20;
}